/** @format */
/* Global Styles */
:root {
  --primary-color: #ee6c4d;
  --secondary-color: #13a172;
  --ternary-color: #98c1d9;
  --quartenary-color: #e0fbfc;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  background: var(--secondary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.feedback {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: var(--quartenary-color);
  color: #333;
}

.feedback-warning {
  background-color: var(--primary-color);
  color: #fff;
}

/* Navbar */
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: var(--primary-color);
  text-align: center;
}

.navbar .container {
  padding: 0.6rem 0;
}

.navbar .container a {
  color: #fff;
}

.navbar .container h1 {
  margin-bottom: 0.3rem;
}

.navbar .container ul {
  display: flex;
  justify-content: center;
}

.navbar .container ul li {
  padding: 0.5rem;
}

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  background-image: url('./img/showcase.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(5px) grayscale(20%) brightness(50%);
  -webkit-filter: blur(1px) grayscale(30%) brightness(50%);
  transform: scale(1.1);
}

.landing-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.landing-inner h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.landing-inner .lead {
  font-size: 1.3rem;
}

.landing-inner .cta {
  margin: 1rem 0;
}

@media (min-width: 700px) {
  /* Navbar */
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .container h1 {
    margin-bottom: 0;
  }

  .navbar a:hover {
    color: var(--ternary-color);
  }

  .landing-inner h1 {
    font-size: 3rem;
  }
}
