/** @format */

.account-inner {
  margin: 2rem auto;

  text-align: center;

  .user-banner {
    margin-bottom: 1rem;
    padding: 1rem;
    background: var(--offwhite-color);
    text-align: center;

    .user-avatar {
      max-width: 70px;
      border-radius: 50%;
    }

    .user-info {
      font-size: 1.1rem;

      .user-name {
        font-weight: 400;
      }
    }
  }

  .user-details {
    margin-bottom: 1rem;

    .user-details-section {
      margin-bottom: 1rem;
      padding: 1rem;
      background: var(--offwhite-color);

      h3 {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-bottom: 1px solid var(--primary-color);
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .user-details-section-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      .user-details-item {
        padding: 1rem;

        h4 {
          margin-bottom: 0.8rem;
          font-weight: 400;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .account-inner {
    .user-banner {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .user-avatar {
        max-width: 100px;
      }
    }
  }
}
