/** @format */

.table {
  margin: 2rem auto;

  .table-header {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
    font-weight: 600;
  }

  .table-body {
    padding: 0.5rem;
  }

  .table-row {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
}
