/** @format */

.entries-inner {
  .table {
    margin: 2rem auto;

    .table-header {
      padding: 0.5rem;
      background: var(--primary-color);
      border-radius: 6px 6px 0px 0px;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--white-color);
      overflow: hidden;

      .table-row {
        border: none;
      }
    }

    .table-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 30px;
      justify-items: center;
      border-bottom: 1px solid #ddd;

      .table-column {
        display: flex;
        align-items: center;
      }
      .table-column.sm-hide {
        display: none;
      }

      .delete {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--warning-color);
        cursor: pointer;
      }
    }

    .table-row:nth-of-type(even) {
      background: var(--offwhite-color);
    }

    .table-row:last-of-type {
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

@media (min-width: 500px) {
  .entries-inner {
    .table {
      .table-row {
        grid-template-columns: repeat(4, 1fr) 30px;

        .table-column.sm-hide {
          display: flex;
        }
      }
    }
  }
}
