/** @format */
.container {
  position: relative;
  height: 84vh;

  .notfound-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto 8vh;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .container {
    height: 92vh;

    .notfound-inner {
      margin: 0;
    }
  }
}
