/** @format */

.container {
  position: relative;
  height: 86vh;

  .update-account-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 20vh auto 8vh;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .container {
    height: 94vh;

    .update-account-inner {
      margin: 0;
    }
  }
}
